[user]
	name = Krzysiek Ciesielski
	email = kciesielski@users.noreply.github.com
[core]
       excludesfile = ~/.gitignore_global
       editor = vim
       autocrlf = input
       hookspath = ~/.git-hooks
    pager = diff-so-fancy | less -FXRi
[push]
       default = simple
[pull]
       rebase = true
[help]
       autocorrect = 8
